
services:
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: parris
      POSTGRES_PASSWORD: parris
      POSTGRES_DB: parris_budget
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U  -d  -h 127.0.0.1']
      interval: 5s
      timeout: 5s
      retries: 5
volumes:
  db_data:
